h1 { color: green}

.textboarder {
    border: 0.5em;
    border-color: black;
    border-style: solid;
    height: 10em;
    width: 30em;
    position: relative;
}

.pixelElement {
    background-color: green;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    float:left; 
    display:inline;
}

.luminousPixel { background-color: red; }